<p>error-page works!</p>
<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li routerLink="/auth/login" class="list-group-item">Ir a Login</li>
            <li routerLink="/auth/registro" class="list-group-item">Ir a Registro</li>
            <li routerLink="/heroes/listado" class="list-group-item">Ir a Listado</li>
            <li routerLink="/heroes/agregar" class="list-group-item">Ir a Agregar</li>
            <li routerLink="/heroes/editar/1234" class="list-group-item">Ir a Editar</li>
            <li routerLink="/heroes/1234" class="list-group-item">Ir a Detalle de Heroes</li>
        </ul>
    </div>
</div>

